doctype html
html(lang="zh-cn",ng-app)
  head
    title= title
    link(rel='stylesheet',type='text/css',href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(type='text/javascript',src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript',src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(type='text/javascript',src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')
    script(type='text/javascript',src='/static/index.js')
  body
    .container(ng-controller='HomeCtrl')
      .row
        .col-sm-12
          h1 欢迎
          p BOERP
      .row
        .col-sm-4
          h1.
            Add User
          form.from(role='form')
            .from-group
              label 用户名
              input.form-control(type='text',placeholder='用户名',ng-model='creating.username')
            .form-group
              label 密码
              input.form-control(type='password',placeholder='密码',ng-model='creating.password')
            .form-group
              button.btn.btn-primary(ng-click='add($event)').
                添加          
        .col-sm-8
          h1.
              User List
          table.table
            thead
              tr
                th username
                th useremail
                th Delete?
            tbody
              tr(ng-repeat="user in userlist")
                td {{user.username}}
                td {{user.email}}
                td
                  button.btn.btn-default(ng-click="delete($event,user._id)") 删除
      .row
        .col-sm-3
          .panel.panel-default
            div.panel-heading.
              联系方式
            div.panel-body
              address= address
              i
              strong